.root {
  -fx-background-color: linear-gradient(
    to bottom right,
    #1a1d3f 0%,
    #132e4d 50%,
    #084471 100%
  );
  -fx-font-family: "Poppins";
}

.title {
  -fx-text-fill: #ffffff;
  -fx-font-size: 48px;
  -fx-font-weight: 700;
  -fx-padding: 0 0 4px 0;
}

.subtitle {
  -fx-text-fill: rgba(237, 234, 234, 0.85);
  -fx-font-size: 15px;
  -fx-font-weight: 300;
  -fx-letter-spacing: 1.3px;
  -fx-padding: 0 0 34px 0;
}

.sign-up-button {
  -fx-background-color: rgba(255, 255, 255, 0.18);
  -fx-text-fill: #ffffff;
  -fx-opacity: 1;

  -fx-border-color: rgba(255, 255, 255, 0.75);
  -fx-border-width: 1.5;

  -fx-background-radius: 15;
  -fx-border-radius: 15;

  -fx-font-size: 15px;
  -fx-font-weight: 500;
  -fx-font-family: "Segoe UI Semibold";

  -fx-padding: 8 50;
  -fx-cursor: hand;

  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.32), 10, 0, 0, 4);
}

.sign-up-button:hover {
  -fx-background-color: rgba(255, 255, 255, 0.3);
  -fx-border-color: #ffffff;
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

.sign-up-button:pressed {
  -fx-background-color: rgba(255, 255, 255, 0.2);
  -fx-scale-x: 0.97;
  -fx-scale-y: 0.97;
}

.footer-text {
  -fx-padding: 8 0 0 0;
  -fx-text-fill: rgba(237, 234, 234, 0.85);
  -fx-font-size: 12px;
}

.footer-link {
  -fx-padding: 8 0 0 0;
  -fx-text-fill: rgba(237, 234, 234, 0.85);
  -fx-font-size: 12px;
  -fx-underline: true;
}

.footer-link:hover {
  -fx-text-fill: #ffffff;
}
